<ion-view title="Calculator">
    <ion-content padding="true" class="has-header">
        <form>
            <label class="item item-input" name="display">
                <span class="input-label">Result</span>
                <input type="text" placeholder="0" ng-model="result">
            </label>
        </form>
        <div class="button-bar">
            <button class="button button-stable button-block" ng-click="saveInMemory('7')">7</button>
            <button class="button button-stable button-block" ng-click="saveInMemory('8')">8</button>
            <button class="button button-stable button-block" ng-click="saveInMemory('9')">9</button>
            <button class="button button-calm button-block" ng-click="btnClickedDevide()">/</button>
        </div>
        <div class="button-bar">
            <button class="button button-stable button-block" ng-click="saveInMemory('4')">4</button>
            <button class="button button-stable button-block" ng-click="saveInMemory('5')">5</button>
            <button class="button button-stable button-block" ng-click="saveInMemory('6')">6</button>
            <button class="button button-calm button-block" ng-click="btnClickedMultiply()">x</button>
        </div>
        <div class="button-bar">
            <button class="button button-stable button-block" ng-click="saveInMemory('1')">1</button>
            <button class="button button-stable button-block" ng-click="saveInMemory('2')">2</button>
            <button class="button button-stable button-block" ng-click="saveInMemory('3')">3</button>
            <button class="button button-calm button-block" ng-click="btnClickedSubtruck()">-</button>
        </div>
        <div class="button-bar">
            <button class="button button-assertive button-block" ng-click="btnClickedClear()">C</button>
            <button class="button  button-block" ng-click="saveInMemory('0')">0</button>
            <button class="button button-positive button-block" ng-click="btnClickedCalculate()">=</button>
            <button class="button button-calm button-block" ng-click="btnClickedSum()">+</button>
        </div>
    </ion-content>
</ion-view>